body {
    background-image: url(../image/1080.jpg);
    background-size: 100vw;
}

.bgrefer {
    width: fit-content;
}

.bgrefer a {
    font-family: cursive;
    color: white;
    opacity: 0.5;
    text-decoration: none;
}

.bgrefer:hover a {
    color: red;
}

.bgrefer a i.fa-heart{
    display: inline-block;
}

.bgrefer a i.fa-heartbeat{
    display: none;
    color: red;
}

.bgrefer:hover a i.fa-heart{
    display: none;
}

.bgrefer:hover a i.fa-heartbeat{
    display: inline-block;
}

.bubble {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: white;
    position: fixed;
    line-height: 60px;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.avatar {
    background-image: url(../image/chicken.png);
}

.library {
    background-image: url(../image/library.png);
}

.simpleweb {
    background-image: url(../image/simple.png);
}