body {
    background-image: url(image/sep/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    position: relative;
}

.content_wrapper {
    background: rgba(0, 0, 0, 0.8);
}

.year_marker {
    display: flex;
    justify-content: center;
}

.year_marker .year_marker_span {
    background: burlywood;
    border-radius: 3px;
    padding: 5px 10px;
}

.time_block {
    display: flex;
    flex-direction: row;
}

.time_column {
    width: 10px;
    height: inherit;
    background: burlywood;
}

.time_block_item {
    width: calc(50% - 5px);
    display: flex;
    flex-direction: column;
}

.time_block_left {
    align-items: flex-end;
}

.time_block_right {
    align-items: flex-start;
}

.image_block {
    background: burlywood;
    border-radius: 5px;
    margin: 10px;
}

.image_container {}

.image_container img {
    max-width: 300px;
    max-height: 300px;
}

.image_container img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.image_timestamp {
    padding: 5px;
}

.image_comment {
    padding: 5px;
}

.timestamp {
    width: 300px;
    border-right: 1px solid black;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 5px;
    color: yellow;
}