body {
    background-image: url(image/sep/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.timeblock {
    margin: 10px 0;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.7);
}

.timestamp {
    width: 300px;
    border-right: 1px solid black;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 5px;
    color: yellow;
}

.image_container {
    width: calc(100% - 300px);
}

.image_container img {
    height: 150px;
}